body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 0;
    display: flex;
    text-align: center;
}

.language-selector {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    border-radius: 5px;
    padding:  5px;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
}

.enlaceRef {
    display: inline-block;

    color: black;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

}

.enlaceRef:hover {
    transform: translateY(-5px);
}

header h1 {
    margin: 0px;
    margin-left: 10px;
}

section {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

.map-container {
    width: 65%;
    height: 600px;
    border-radius: 10px;
    overflow: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    height: 100%;
    width: 100%;
    height: 500px;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    max-width: fit-content;
    padding: 0.3em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 15px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 12px;
    padding: 20px;
}

.div1 {
    grid-area: 1 / 1 / 1 / 6;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.div2 {
    grid-area: 2 / 1 / 6 / 5;
    justify-content: space-around;
}

.div3 {
    grid-area: 2 / 5 / 6 / 6;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 780px) {
    .div1{grid-area: 1 / 1 / 1 / 6;}
    .div2{grid-area: 2 / 1 / 6 / 5;}
    .div3{grid-area: 2 / 5 / 6 / 6;}
}

@media only screen and (max-width: 600px) {
    .div1{grid-area: 1 / span 6;}
    .div2{grid-area: 2 / span 6; height: 500px;}
    .div3{grid-area: 3 / span 6;}
}

@media only screen and (max-width: 780px) {
    .div1{grid-area: 1 / span 6;}
    .div2{grid-area: 2 / span 6; height: 500px;}
    .div3{grid-area: 3 / span 6;}
}


.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

#btnFavoritos:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
}
