body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f3e7e9, #e3c998);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.language-selector:hover {
    background-color: #555;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

h2 {
    color: #333;
}

input {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #a99b6b;
    outline: none;
}

.btn {
    background-color: #14120b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a99b6b;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password a {
    color: #a99b6b;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}